[2020-03-26 14:17] cah6 opened #1 "readCreateProcessWithExitCode error when running"
Installed using `cabal install`, running in my project throws an error:
[code]

This is on mac; installed using `cabal-install-3.0.0.0`. Installed into `~/.local/bin/retrie`.

Possibly this is due to how I installed? My haskell projects usually use nix, so I ran `cabal install retrie` in the nix shell for my current project, which means it used the cabal, ghc, and haskell libraries in scope for th

[2020-03-26 16:29] xich commented on #1
Well, the first error:

[code]

is telling you that you don't have `hg` installed. We really only need one or the other (hg or git), so I can fix the error handling there.

The second error looks like you need to `cabal install happy` first. It looks like it is required for `haskell-src-exts`, but cabal can't figure out to install it for you.

[2020-03-26 21:01] cah6 commented on #1
Ah I see, didn't realize that's what the `hg` was. Installed it and it worked, thanks! Closing.

[2020-03-26 21:01] #1 closed

[2020-03-28 22:45] byorgey opened #2 "error in Retrie.PatternMap.Instances when doing --type-backward rewrite"
I ran into #1 at first so I rebuilt `retrie` from https://github.com/facebookincubator/retrie/commit/a12f3bfa5b9ecb7f236fd5583a53ffff22ff27b7 .  Now I get this error:

[code]

[2020-03-29 06:18] xich commented on #2
Ah yeah the syntax support for types needs some fleshing out. I'll have a diff for you soon!

[2020-03-30 20:23] #2 closed

[2020-03-31 16:15] dmjio opened #3 "Rewrite TH splices"
@xich, very cool package.

I'd like to rewrite TemplateHaskell splices (e.g. `makeLenses ''Person`), into function calls

[code]

Would `retrie` be a good candidate to support this operation? Right now I'm doing manual AST traversal / rewriting in a GHC plugin, seems a little heavy-handed.

[2020-03-31 16:34] xich commented on #3
In principle, we can rewrite anything that GHC parses. In practice, I've never tried to rewrite TH splices before, so I'll have to build out the syntax.

I'm not sure I understand your example though. Do you want to replace the splice with the resulting code? Retrie isn't equipped to actually run the TH.

[2020-03-31 17:00] dmjio commented on #3
Yes, just a mechanical replacement. No actual TH will be executed (TH would be omitted altogether). Use case here would be for cross-compilation. GHC has a requirement that TH splices are executed on the target rather than host (due to IO that could make assumptions about the environment). A real solution would be to GHC itself, to separate TH into pure and impure variants, where the former is alw

[2020-04-09 04:19] xich commented on #3
Can you create a test case that demonstrates the rewrite you want?

Example: https://github.com/facebookincubator/retrie/blob/master/tests/inputs/Adhoc.test

(Essentially this is a diff showing before and after, with command-line arguments above the `===`.)

I think that would help me understand what needs adding, concretely.

[2020-05-10 13:14] pepeiborra opened #5 "retrie does not make any changes"
Calling retrie on the http://github.com/pepeiborra/ghc-check codebase as below:
[code]

[2020-05-10 20:57] xich commented on #5
Thanks for the report! I see the problem (there are actually 3!) ... I have fixes awaiting review. They'll probably land tomorrow.

[2020-05-11 16:14] #5 closed

[2020-05-19 06:12] Ailrun opened #7 "Support piecewise function definition"
Current retrie picks the first piece of a piecewise function definition when trying to unfold the funciton. For example, with this code
[code]
if I execute `retrie -u "Test.piece" --target-file Test.hs`, it returns
[code]
which is not semantically same.

[2020-05-19 06:14] Ailrun opened #8 "Support NPat"
Retrie emits
[code]
when I use it to fold/unfold a function using number pattern like
[code]

[2020-05-20 01:16] xich commented on #7
So we used to have something to handle this. From the single definition, it would generate three rewrites:

[code]

I removed it at some point because the function-to-case conversion was buggy and lead to some strange stuff. Things are more mature now, so I could try adding it back.

Does that seem like the behavior you would expect?

[2020-05-20 02:04] Ailrun commented on #7
Yes, handling the example using `case` sounds reasonable for me.

[2020-05-20 18:53] #8 closed

[2020-06-03 16:36] pepeiborra opened #10 "Matching of qualified names"
When asked to unfold a function `foo` defined in module `A`, currently retrie will ignore qualified occurrences of `foo`. I would expect that these occurrences would be unfolded too.
Test case:
[code]
Results in:
[code]

[2020-06-03 19:41] xich commented on #10
Thanks for the test case!

This is a consequence of the fact that we're working with parsed AST instead of the renamed AST (because that is all that ghc-exactprint supports). We have to match on variable names syntactically.

Typically we'd work around this by using an adhoc rewrite instead of an unfold:

    retrie --adhoc "forall x. Qualified.foo x = x - x"

which should do what you want.

I sup

[2020-06-03 20:26] alanz commented on #10
@xich FYI in HaRe we make use of a namemap from the renamed source back to the parsed source.

Every name is `Located`, specifically so its `SrcSpan` can be used for this purpose.

And to be honest some names are only resolved after type checking (such as overloaded record fields). But the same lookup process holds.

This map is also constructed in haskell-ide-engine, as so likely in ghcide/hls to

[2020-06-03 20:58] xich commented on #10
Ah! Of course. That's a great idea. I'll see about incorporating that.

[2020-06-03 20:58] pepeiborra commented on #10
Thanks for the explanation and workaround suggestions.

I think that this limitation should be mentioned clearly in the README. It's pretty common to import modules qualified, and surprising when rewrites don't happen.

I would actually find your short term solution (ignoring the qualifications) more consistent. Perhaps it should be a user option.

[2020-06-06 14:48] jrp2014 commented on #10
@xich This would be a great leap forward.

Currently, when writing a typecheckerd plugin, you seem to need to reparse the source to get the Anns, which is a bottleneck.

I much prefer your API to exactprint, keeping tha Anns and AST together (end would welcome its integration into exactprint).  But it is not so straightforward to use if you are obliged to work with a both the source and typechecke

[2020-06-06 15:34] alanz commented on #10
I initially aimed to do this, in HaRe, and various approaches to managing the reproduction of the AST.

Unfortunately there is too much information loss between the parsed and renamed AST that makes it impossible. The fallback was to "index" each name location with a `SrcSpan` to allow the name matchup, and to make the `ParsedSource` a 100% representation of the original source (modulo tabs, trail

[2020-07-09 22:31] JeffreyBenjaminBrown opened #11 "Is the example from the README really invertible?"
If your original code included some definitions of the form " map (f . g) xs", and you ran `retrie --adhoc "forall f g xs. map f (map g xs) = map (f . g) xs"` and then `retrie --adhoc "forall f g xs. map (f . g) xs = map f (map g xs)"`, it seems like your code after that supposed round-trip would no longer include any such definitions.

[2020-07-09 23:37] xich commented on #11
I'm not sure I understand. If the original code included `map (f . g) xs`, then the running:

    retrie --adhoc "forall f g xs. map f (map g xs) = map (f . g) xs"

would do nothing, because that rule is trying to match `map f (map g xs)`.

(Running the second rule would make some changes, of course.)

[2020-07-09 23:38] JeffreyBenjaminBrown opened #12 "What distinguishes names from variables?"
The README describes how to rewrite `map a . map b` as `map (a . b)` everywhere it's found. Somehow Retrie understands that `a` and `b` are variables but `map` is not -- so it would rewrite `map foo . map bar` but not `foo a . foo b`.

What if I had a function `foo`, and I wanted to rewrite `map foo . map b` as `map (foo . b)`, for any value of `b`, but leave untouched any `map a . map b` in which

[2020-07-09 23:43] JeffreyBenjaminBrown commented on #11
Right. The first call to retrie changes a set of things we can call X. The second call to retrie undoes all the changes to X, but it introduces new changes. So calling the two in sequence does not leave the code unchanged.

Right? And if so, is there any way to undo *only* the changes from the first call?

[2020-07-09 23:51] watashi commented on #12
Everything is "name" expect those explicitly introduce by `forall`.
So `forall b.  map foo . map b = map (foo . b)` will do what you want while `forall foo b. map foo . map b = map (foo . b)` will rewrite `map x . map y` to `map (x . y)` as well.

[2020-07-10 00:02] JeffreyBenjaminBrown commented on #12
Ah of course. Thanks!

So if I wanted to rename foo to baz, I would just call the following?
[code]

What if two packages export the name "foo", and I only want to rename one of them?

[2020-07-10 00:17] JeffreyBenjaminBrown commented on #12
And what about puns? If a type and a constructor share a name, can you rename one without naming the other?

[2020-07-10 00:37] watashi commented on #12
`--adhoc` is a convenient way of specifying `--rule-forward`, which only applies to expressions, not types.
You need separate `--type-forward` to rewrite types.

[2020-07-10 01:13] xich commented on #11
Ah, I see what you mean.

Yes, retrie has no notion of history. But your version control system does. Typically, we'd just selectively revert changes we don't want. (You could also run the second rule with the `--target-file` flag to only target certain files, etc.)

[2020-07-10 01:25] xich commented on #12
Types and constructors are in different namespaces, so require different rewrites (`--type-forward` and `--rule-forward`/`--adhoc`, respectively).

This is the biggest limitation of retrie (which I should really call out better in the README, I'll fix that). It works on parsed source only (not renamed source), so it only has local scoping information. It could distinguish an imported `foo` from a

[2020-07-10 02:12] JeffreyBenjaminBrown commented on #11
Cool.

Might I suggest, then, changing the line `Now you have your original code back.` in the README? Or I could submit a pull request if you'd prefer.

[2020-07-10 12:11] d86leader opened #13 "Support command-line rewrite equations for types"
I can currently get by with a hack: add `type Have x y = Want Something y x` in some module, then use `retrie --type-forward Some.Module.Have`.
It would be nice if I could do this without modifying my files.

[2020-07-10 17:10] xich commented on #10
@pepeiborra Does haskell-language-server already have the renamed source on hand at the point it calls retrie?

To actually rename/typecheck a module, we need to rename/typecheck the transitive imports, right? This will negate a lot of the speed advantages retrie currently has, so I'd prefer to not make this the default. But, if the caller already has the renamed/typechecked source on hand, we cou

[2020-07-10 17:14] alanz commented on #10
Just remember, overloaded record fields only get resolved by the type checker, so to be sure you have to have that. And or not hit them, either way it is something to keep in mind.

[2020-07-10 17:18] pepeiborra commented on #10
Haskell-language-server does have the renamed source on hand only for modules open in the editor. But the plugin can compute the renamed source for all the other modules as needed, using the correct package flags etc.

To rename/typecheck a module, you would only need the interface files of the transitive imports. The ghc api can take care of this automatically if used in `--make` mode. Allowing t

[2020-07-10 17:21] alanz commented on #10
i.e. the full module graph? you need modules that are importing the one with the rename, if it is exported.

[2020-07-10 21:09] xich commented on #10
Partially it's just convenience. The adhoc rewrites are just RULES pragmas under the hood, and this saves you from having to add them to a file. The biggest use for adhoc and rule-forward/backward is for rewriting things where you don't have the definition handy (say, because it is defined in another package).

[2020-07-10 22:45] #13 closed

[2020-07-10 22:50] xich commented on #13
@d86leader Just landed a commit which adds an `--adhoc-type` flag to do this. I usually make monthly releases to hackage, but you can build from github in the meantime. Thanks for the suggestion!

[2020-07-13 17:17] xich commented on #11
What would you put there instead?

That sentence is written with the assumption that `MyModule` was your original code. On that particular example, the two rewrites are a roundtrip... it wasn't meant to be a general statement about roundtripping any code.

I'm happy to change to make it more clear though!

[2020-07-13 17:39] JeffreyBenjaminBrown commented on #11
You could say, "Now you have undone the changes from your first call to retrie. (But note that depending on your codebase, you may have introduced new changes.)"

[2020-07-14 13:41] Profpatsch opened #14 "Distinction from hlint?"
When thinking about the problem, the one tool that immediately comes to mind is [hlint](https://hackage.haskell.org/package/hlint).

In what way does your approach differ from e.g. auto-applying hlint suggestions?

I would have expected there to be a “prior/related work” section in the readme somewhere, given that there’s a few related tools in the space.

[2020-07-16 11:39] anka-213 opened #15 "Allow rewriting with pattern synonyms"
For example:

[code]

and reverse

[code]

-----

On another note, it would be nice if ad hoc rewriting would work with patterns as well, so you could write:

[code]

[2020-07-31 19:58] xich commented on #15
@pepeiborra added both in 9d723a26ece81b6cdea78ae404496bf016a10855!

[2020-07-31 19:58] #15 closed

[2020-08-02 12:28] anka-213 commented on #15
Sweet! =D

[2020-08-04 11:22] anka-213 opened #16 "Parse error on type application on constructors"
Here is an example:

`Issue16.hs`
[code]

[code]

[2020-08-04 11:51] pepeiborra commented on #16
I think that’s expected. Ghci will fail to parse this file too.

Have you tried adding a TypeApplications language pragma?

[2020-08-04 11:55] anka-213 commented on #16
Oh, right. Oops. I had `TypeApplications` in my cabal file and didn't tell retrie about it.

How do I make retrie aware of my cabal file?

[2020-08-04 11:59] anka-213 commented on #16
The surprising thing is that it doesn't complain when I replace `Proxy` with a function. I guess it worked by pure luck or interpreting it as pattern syntax or something then.

[2020-08-04 11:59] #16 closed

[2020-08-04 12:08] pepeiborra commented on #16
I have integrated retrie in hls 0.3.0 which is about to be released soon and should do what you want.

[2020-08-04 12:08] anka-213 commented on #16
Sweet! Thanks!

[2020-08-15 15:06] pepeiborra opened #17 "Build with -threaded"
Otherwise there is no parallelism.
Perhaps consider using `setNumCapabilities` too.

[2020-08-17 16:09] xich commented on #17
I would totally support this change, but I don't have bandwidth to do it myself right now.

I tried this once (years ago) and had issues with the GHC API crashing. I don't think the GHC session is (or was?) thread safe, or at least not the way retrie uses it (probably the actual problem).

We still get IO concurrency, which is a pretty big win. I suspect most of the time is spent parsing files, bu

[2020-08-29 01:04] lylek opened #18 "Doesn't respect default-extensions from .cabal file"
I got an error indicating that I should enable an extension:

[code]

But I have no way of enabling extensions via retrie. It would be nice if it could read and use the `default-extensions` values from the `.cabal` file. Or at least have a way of passing a list of extensions as an option to `retrie`.

[2020-08-29 08:25] pepeiborra commented on #18
The retrie integration in HLS (Haskell language server) takes care of this

[2020-08-30 05:08] lylek commented on #18
OK, thanks. I haven't tried HLS yet because I'm working with GHC 8.2, which isn't supported by HLS. But I'll be switching to GHC 8.8 relatively soon.

In this particular case, I was trying to do an adhoc rewrite on a particular file. Is that easily doable with HLS?

[2020-08-30 17:10] anka-213 commented on #18
I was thinking the same thing. The HLS integration is somewhat limited in supported features, so it would be nice to have cabal support in the command line tool as well.

[2020-08-30 17:31] xich commented on #18
I'm not sure what is required to parse and extract extensions from a .cabal file. Presumably the cabal library can do this?

If someone were to add it, the place to do it would be in `resolveOptions`, here:

https://github.com/facebookincubator/retrie/blob/master/Retrie/Options.hs#L322

(because `addLocalFixities` is the first place retrie parses something)

[2020-08-30 17:44] lylek commented on #18
One tricky bit is that there can be a `default-extensions` for each library/executable. I'm not sure how one would resolve the right one, but presumably the cabal library can figure that out. Would you have to specify a build target to retrie?

[2020-10-15 18:44] moll opened #20 "Probably better to rename the "demo" executable to "retrie-demo" or something descriptive"
Hey!

Thanks for maintaining Retrie. I noticed it comes with an example [executable named `demo`](https://github.com/facebookincubator/retrie/blob/master/retrie.cabal#L117) that gets built by default if one is after Retrie's CLI. Using Cabal to install it to the home folder also symlinks `demo` to `.cabal/bin`. As `demo` is relatively non-descriptive and likely to clash with other binaries on the

[2020-10-15 19:52] watashi commented on #20
This sounds very reasonable. Feel free to send a pull request.

[2020-10-25 16:09] jneira opened #21 "Full support for windows"
* From https://github.com/haskell/haskell-language-server/issues/533, where i tried retrie via the haskell-language-server in windows
* It seems `retrie` assumes you are running it in a posix environment with acess to `grep`, `xargs` and, afaics, cli executions with specific sh syntax

<details> <summary> ` retrie -v 2 --rule-forward  MyModule2.myRule` in powershell </summary>

[code]

</details>

[2020-10-25 17:14] pepeiborra commented on #21
We could remove the dependency on `xargs` (and eventually `grep` too) by replacing them with Haskell.

Are you interested in sending a PR to do that for `xargs`?

[2020-10-25 17:46] jneira commented on #21
I would like to work on that but i am afraid i am not sure when can i start to do it.

`xargs` is showed up in the retrie plugin usage, but no using the executable directly, where only `grep` seems to be used.
So maybe only fixing `xargs` is not enough.
The culprit with the executable is simply using `'` as delimiters, not supported by grep in windows:

[code]

That would be great. Not sure if has

[2020-12-16 23:01] 414owen opened #22 "Pattern documentation"
The minimal example of what I'm trying to do, is to get the the adhoc rule `forall a. 2 : a` to match the expression `[1, 2, 3]`.
There are command line options for enabling pattern synonyms, I couldn't get it working.
It would be great to add this use case to the readme.

Thanks for working on this tool. `retrie` helps me a lot.

[2020-12-17 11:11] pepeiborra commented on #22
I'm not sure I understand. Perhaps you could PR a failing test that shows exactly what you are trying to do?

[2020-12-17 17:04] 414owen commented on #22
closed in favor of https://github.com/facebookincubator/retrie/pull/23

[2020-12-17 17:04] #22 closed

[2021-03-19 12:40] maralorn opened #24 "Upper bounds on optparse-applicative and ansi-terminal can be relaxed"

[2021-03-20 20:38] selkie-diligent opened #25 "GHC 9.0.1 Unsupported"
Retrie does not build under GHC 9.0.1 and base 4.15.
Please add support for GHC Version 9.0.1.

[2021-03-21 20:18] pepeiborra commented on #25
Would you care to submit a PR? I would be happy to review and merge it, as long as it preserves backwards compatibility with GHC 8.8 and newer

[2021-03-21 21:04] pepeiborra commented on #24
@maralorn thanks! Do you happen to know which versions?

[2021-03-21 22:58] maralorn commented on #24
According to https://packdeps.haskellers.com/feed?needle=retrie
ansi-terminal 0.11
and
optparse-applicative 0.16.1.0
we build hls with those versions in nixpkgs and it works.

[2021-03-22 21:16] xich commented on #25
Just a heads up. I'm working on GHC 9 support currently.

[2021-03-30 14:13] anka-213 commented on #25
@xich Is your progress so far publicly available somewhere? I'm working on getting ghc9 support for haskell-language-server and this is an important dependency.

[2021-03-30 21:34] xich commented on #25
@anka-213 I pushed my progress to https://github.com/xich/retrie/commit/06f8cdfc5de4b488e8b4a09c9201172e7e4c45ae

It's pretty close at this point. It's mostly a mechanical process of matching changes to the AST data types.

I could probably get it over the line tonight if it's blocking you. (I'm still on parental leave for another week, so have just been chipping away at this before bed each night

[2021-03-31 00:04] anka-213 commented on #25
Sweet! No rush, I still have other things I can work on before it. I mostly just wanted to know the progress. 😃

[2021-04-05 15:44] #25 closed

[2021-04-12 16:31] #12 closed

[2021-04-12 22:09] #20 closed

[2021-05-11 10:07] pepeiborra commented on #24
The bounds are relaxed in version 1.0.0.0

[2021-06-20 17:00] bgamari opened #26 "Feasibility of using retrie to refactor for Data.List monomorphisation"
In GHC 9.2 `Data.List` is changing with the expectation that all imports be qualified (or, at very least, bearing an explicit import list). Specifically, we would need to change all occurrences of declarations defined in `Data.List` to a module prefixed name (e.g. `L.map`) and change all imports to `qualified` imports.

As this will be a somewhat invasive change, it would be great to be able to of

[2021-06-21 08:07] xich commented on #26
I think it depends on how automated you want this to be. If the end user is willing to do a little work themselves, then you could do something like:

[code]

(it would be faster if we did all the rewrites at once by building something with `runScript` instead of iterating in bash)

But that will rewrite *any* instance of `map`, not just the one from `Data.List`. It will also leave around any exis

[2021-06-21 19:38] pepeiborra commented on #26
/cc @olivermadine who was also looking at a closer integration of retrie with HLS

[2021-06-22 22:58] bgamari commented on #26
Thanks @xich! This isn't urgent but the sooner it can be done the sooner users migrating to 9.2 can benefit.

[2021-06-26 13:43] ilyakooo0 commented on #18
So basically this means if you use _any_ language extensions which modify the syntax (LambdaCase, PatternSynonims, etc) there is no way at all to use this utility with the project. I think this is quite a serious limitation.

[2021-06-26 13:52] ilyakooo0 opened #27 "Type applications break function matching"
running the rule

[code]

on the following file would succeed:

[code]

while adding type applications to a function call would break matching the function and the rewrite would not be applied:

[code]

[2021-06-26 15:33] pepeiborra commented on #18
Given that HLS already takes care of setting up your project via hie-bios, perhaps the simplest option would be to embed retrie in HLS as a new command. HLS plugins cannot add new commands yet, but we can fix that.

[code]

Alternatively, we could hook up retrie to hie-bios for the GHC session setup.

[2021-06-26 16:03] ilyakooo0 commented on #18
As a simple solution: supplying an extension list via the CLI would also be suitable.

[2021-06-27 16:11] xich commented on #27
Matching is syntactic, so this is expected. Does the rule `forall t a b. foo @t a b = foo @t b a` work? (`@` not strictly necessary, but would distinguish from a term-level variable)

I'm not sure how we could spot this is the general case since we don't have access to the type of `foo` (retrie only parses).

[2021-06-27 17:07] ilyakooo0 commented on #27
No, it would not work. Type applications are not supported at all in rules. It will give an error.

[2021-06-27 17:09] ilyakooo0 commented on #27
I think ignoring type applications when matching would be far preferable to not matching at all. Right now if the codebase supports type applications, there is no reliable way of applying a rule to the codebase.

[2021-06-27 22:06] xich commented on #18
@pepeiborra I did some initial digging around today. It looks like HLS has a `HscEnv` available when it calls retrie via the plugin. So my thought was to make retrie's run functions accept an `HscEnv` and redo the parsing functions to get the dynflags from it, rather than whatever bootstrapping ghc-exactprint does. Then when retrie is invoked by HLS, it uses the `HscEnv` that HLS already has avail

[2021-06-27 22:10] xich commented on #18
Also, I haven't looked at how HLS sets up hie-bios stuff yet. If there is a lot of hard won magic there that I would have to duplicate when calling hie-bios directly, maybe I should just make the retrie binary depend on HLS so I can reuse it instead of hie-bios directly?

[2021-06-27 23:04] pepeiborra commented on #18
Yeah exactly, if retrie main entry point can accept an `HscEnv`, I can easily integrate it as an HLS command line subcommand.

Concretely, I had in mind defining a custom CLI command. Custom commands get an `IdeState` which allows them to use `runAction` and have access to all the build rules.

https://github.com/haskell/haskell-language-server/blob/861c8bf4b48434dd1ad9b386a3fcd44bbca04f23/ghcide/

[2021-07-06 11:34] pepeiborra opened #28 "Exception: conPatHelper RecCon"
[code]

https://github.com/facebookincubator/retrie/blob/543907ea028ce82455d2cbd63ebe72d34b7b4940/Retrie/Expr.hs#L238

We should look into doing something else here, like just returning the original expression, rather than crashing

[2021-07-13 19:14] chessai commented on #26
Please note that it is actually 9.4 - however, the change is going to be reverted and postponed until at least 9.6, possibly later. If retrie could come to handle this change in the meantime, that would greatly benefit the haskell community at large.

[2021-08-02 08:32] pepeiborra opened #29 "Integrate retrie with HLS or hie-bios"
Standalone retrie cannot run the renamer since it doesn't know how to set up the GHC session, as discussed in #10. To address this, I propose integrating retrie as a command in HLS, reusing the ability for plugins to declare new commands added in https://github.com/haskell/haskell-language-server/pull/1999. This will give retrie access not only to the renamer and typechecker, but also to the hiedb

[2021-08-02 08:35] pepeiborra opened #30 "Make the use of grep optional"
`grep` causes problems for Windows users[1][2] and its use is probably unnecessary in most projects

[1] - https://github.com/haskell/haskell-language-server/issues/2051
[2] - https://github.com/haskell/haskell-language-server/issues/533

[2021-08-06 23:23] bontaq opened #32 "Steps to change a data contructor and associated types name?"
Hi, I've been using retrie for doing some refactoring in a project and it's quite nice.

I'm wondering what steps one would take to do something like:
[code]
across a whole project, including imports.  Is that possible? :pray:

[2021-08-08 13:43] AriFordsham opened #33 "Ability to rewrite imports"
This is motivated by the GHC API changes which, for a large part, change module names whilst leaving definitions unchanged.

It would be extremely useful to have the ability to change every `import A` to `import B`.

This issue involves a question:

- Is this feasible with the current Retrie library? Can I have some guidance on what it would look like? I see a function [`getImports`](https://hacka

[2021-08-17 01:29] watashi opened #34 "Invalid indentation in do notation produced by `--adhoc 'forall a. id $ a = a'`"
For `Test.hs`:

[code]

`retrie --adhoc 'forall a. id $ a = a'` will produce:

[code]

which is not valid code due to bad indentation.

[2021-08-18 03:29] watashi opened #35 "Parentheses around sections are not preserved in `--adhoc 'forall a. a . id = a'`"
Parentheses around sections are not preserved in some rewrites, this leads to invalid code produced by retrie. To repro:

[code]

[2021-08-18 04:48] xich commented on #34
Ugh I thought I had fixed this. Will investigate.

[2021-08-18 04:51] xich commented on #35
This is similar to #34. I'll look into it too.

Aside: is there some permission I need to this repo now so I can do things like assign issues to myself, etc?

[2021-08-18 05:02] xich commented on #33
Hmmm, this isn't currently supported, but wouldn't be hard to add.

I think we'd want to nail down exactly what we'd want to support, because it will inform the implementation. Some thoughts:

1. We could have something like `--change-import "Foo.Bar" "Baz.Quux"` which is effectively a rewrite on the `ModuleName` type.
2. We could support rewriting the whole import statement: `--change-import "imp

[2021-08-18 05:06] xich commented on #30
Hmmm, does windows have some alternative to grep for "find all files in given directory that contain a given string"? I'm not familiar with windows dev.

We could write a pure Haskell implementation and fall back on that if grep and xargs aren't present. Guessing its going to be a lot slower though. There is a lot of magic in grep to make it fast, which is why I used it.

[2021-08-18 05:10] xich commented on #28
This is thrown within `patToExpr`, so we don't have an expression to return. The only thing we can really do is abort mission.

We should fix it though. Have a repro?

[2021-08-18 05:20] xich commented on #32
Not automagically, but (without trying it), I would approach it something like this:

You have:

[code]

Add a new module:

[code]

Then edit module A:

[code]

Typecheck your program to make sure this didn't break anything.

Then run retrie: `retrie --type-forward A.MyThing --import "import B"`

Which will change all the type-level `MyThing`s to `TheirThing`s and add the import to B wherever that

[2021-08-18 05:54] watashi commented on #34
FWIW, a simpler version

[code]

is currently handled properly to produce

[code]

seems like something is missed when the rhs is more complicated.

[2021-08-18 06:00] watashi commented on #35
I think I can add you as an "External Contributor" with write permission (not sure if this affects sync) or triage permission.
You need sign the CLA first so I can do that in oss tool though :-)

[2021-08-18 07:11] xich commented on #34
Yeah, I suspect I broke it with my recent commit that generalized the elaboration. I used to have special handling for `$`, which I suspect resulted in the annotations moving correctly.

[2021-08-18 07:15] xich commented on #35
Hahahahahahahahahhaha. Done.

[2021-08-18 08:19] AriFordsham commented on #33
Regarding addressing the GHC use case, there are many ways of approaching the problem. Just implementing (1) if that is quicker/easier would definitely be already helpful.

In an ideal world, I'm not sure I understand (4) completely If it's just to reorder things, I don't see the point. It seems odd to index imported symbols by position/variable, as they're typically not thought of that way and th

[2021-08-26 12:59] fendor opened #36 "Support GHC 9.2"
GHC 9.2 rc1 is out, and `ghcide` aims to implement GHC 9.2 support ASAP.

The last dependency of `ghcide` that doesn't compile with GHC 9.2 (via [head.hackage](https://gitlab.haskell.org/ghc/head.hackage)) is `retrie` and it would be great if we could upgrade soon!

[2021-08-26 15:08] pepeiborra commented on #36
@fendor would you be interested in sending a PR? I can get it merged next week and release to Hackage

[2021-08-26 15:50] fendor commented on #36
I'll have a crack at it tomorrow!

[2021-09-01 16:13] isovector opened #37 "Rewriting to add constraints?"
Hi all,

I've got a big refactoring project coming up, and am wondering if retrie can help me. I'd like to change the following signature:

[code]

to instead be:

[code]

and then push the `Member (Embed IO) r` constraint through all callsites to `foo`. None of the documentation seems to suggests anything about this use case --- can retrie handle it?

[2021-09-01 17:34] pepeiborra commented on #37
That would be sweet, but I don't think retrie is able to rewrite types.

EDIT: I was wrong, see `--adhoc-type`

[2021-09-02 08:36] pepeiborra commented on #37
You can hack something that traverses the `hie` file, looking for occurrences of `foo` with the type `Sem r ()` and then uses SYB + ghc-exactprint to rewrite it.

[code]

I wonder if this could be generalised and incorporated in retrie somehow

[2021-09-02 13:29] isovector commented on #37
Would such a thing do transitive dependencies? Like, anything that calls anything that calls `foo` also needs an updated type signature.

I think I'll probably just play whack-a-mole in HLS on this one. `Add constraint` is pretty fantastic!

[2021-09-06 19:39] fendor commented on #36
Unfortunately, I failed to upgrade to latest ghc-exactprint and can't promise a PR any time soon.

[2021-09-06 20:48] pepeiborra commented on #36
Maybe we should look into dropping the dependency from ghcide then?

[2021-09-06 21:49] alanz commented on #36
@fendor Is your work in progress available anywhere? I am keen to give this a go, to confirm that the new ghc-exactprint actually works.

[2021-09-06 21:59] alanz commented on #36
And I believe the only sane way forward is as with ghc-exactprint, the current version works for GHC < 9.2, a later one supports GHC 9.2 and up.

[2021-09-07 08:03] fendor commented on #36
I pushed my WIP to https://github.com/fendor/retrie/tree/wip/ghc92, but don't expect much, I struggled with understanding what changed between ghc-exactprint versions, and what has moved to GHC, etc...

[2021-10-05 15:47] TristanCacqueray commented on #37
Without touching the callsite, would it be possible to use retrie for changing:

[code]

... into:

[code]

It seems like `retrie --adhoc-type 'IO b = MonadIO m => m b'` produces `bar :: a -> (MonadIO m => m b)`
but `a -> IO b = MonadIO m => a -> m b` fails with `Malformed head of type or class declaration: a -> IO b`
or `Fn a (IO b) = ...` fails with `Unexpected type ‘IO b’`.

Am I missing someth

[2021-10-06 10:05] pepeiborra commented on #37
Can you run a second adhoc-type rewrite to fix the malformed signatures? `--adhoc-type 'a -> (MonadIO m => m b) = MonadIO m => a -> m b`

[2021-10-06 12:15] TristanCacqueray commented on #37
@pepeiborra unfortunately this fails with this message:

[code]

Similarly, trying `Fn a (MonadIO m => m b) = ...` results in `Unexpected type ‘MonadIO m => m b’`

[2021-11-05 15:45] mouse07410 commented on #36
I'd say it would be the best. Ideal.

[2021-11-05 16:02] pepeiborra commented on #36
Thanks for your input. Unfortunately the challenge here is created by the new encoding of ghc-exactprint included in ghc-9.2 and not so much by retrie, so dropping the retrie dependency would only make things worse for ghcide, since we'd need to deal with ghc-exactprint ourselves.

[2021-11-05 16:06] alanz commented on #36
FWIW, I have an updated ghc-exactprint for GHC 9.2.1, not released yet.  There are a few minor niggles.
I think it may be best to publish it, and my update for retrie to use it, so that the build gets unblocked.
It will have a few infelicities, which can be solved later, but will at least not block the bigger project.

[2021-11-08 00:52] mouse07410 commented on #36
@alanz yes, please do publish it!

[2021-11-11 23:11] alanz commented on #36
I am down to ten failing tests, end is in sight, will get something out on the weekend at the latest (failing or not)

[2021-11-23 00:21] Dessix commented on #36
@alanz Was there any progress on this-- a branch we can track and contribute to, perhaps? This issue is blocking a significant portion of potential developers from adopting GHC 9.2+, and the weekend you mentioned has passed.

[2021-11-23 00:34] alanz commented on #36
My branch is at https://github.com/alanz/retrie/tree/ghc-9.2, but it needs https://github.com/alanz/ghc-exactprint/tree/separate-priorends too.

I plan on making a fresh ghc-exactprint release tomorrow, which will allow prodress on this.

Ping @xich

[2021-11-23 17:25] xich commented on #36
I've managed to get your branches building and failing the one test we've discussed. I'll see if I can get it passing.

[2021-11-23 23:23] alanz commented on #36
I just published [ghc-exactprint-1.3.0](https://hackage.haskell.org/package/ghc-exactprint-1.3.0)

[2021-11-24 20:36] alanz commented on #36
The last formatting failure is from the fixity processing.

@xich are you ok with me moving the fixity re-alignment into ghc-exactprint?  I intend making a new home for the fixity data from haskell-src-exts too.

And I intend pushing chunks from the Retrie.ExactPrint module into ghc-exactprint too, as being generally useful.

[2021-11-24 21:36] xich commented on #36
Please do! Anything that makes sense to move is good with me.

[2021-12-14 09:56] pepeiborra commented on #36
retrie 1.2.0.0 is on Hackage with experimental support for GHC 9.2. For earlier GHC versions, stick to retrie 1.1.0.0

[2021-12-14 09:57] #36 closed

[2022-01-21 16:09] nrnrnr opened #41 "Error message when working on GHC sources is unhelpful"
I'm trying to use `retrie` to refactor the GHC sources.  Operating in the `compiler` subdirectory of the GHC gitlab root, I ran an ad-hoc rule with this result:

[code]

From this error message, I can't tell if there's a problem with my rule, a problem with the GHC sources, or a problem with `retrie`.  For starters, it would be useful to know the source location at which the offending `#-}` was ob

[2022-01-22 22:38] pepeiborra opened #42 "Support for text 2.0"
I don't think that there are any changes needed, but testing a relaxed constraint fails with a cabal solver error because `ghc` depends on a version of `parsec` that requires `text <2.0`:
[code]
This is using a custom `cabal.project`:
[code]

[2022-01-22 23:14] pepeiborra commented on #41
Thanks for the issue report.

I think the problem here is in the adhoc rule - the double equal `==` seems to be confusing the parser. This works better:

[code]

[2022-01-24 20:11] nrnrnr commented on #41
Ah!  Thank you.

It still doesn't work very well because of the `'` character in the function's name.  I am going to try to submit a pull request to fix that.

[2022-01-24 20:11] #41 closed

[2022-01-31 10:19] jneira commented on #21
I think this can be closed as the dep of xargs seems to be removed and retrie supports windows nowadays (CC @Tarmean)

[2022-01-31 10:19] #21 closed

[2022-03-03 00:00] Bodigrim commented on #42
This will be fixed by https://gitlab.haskell.org/ghc/ghc/-/commit/d0214a61d4 in upcoming GHC 9.2.2.

[2022-03-03 00:31] Bodigrim commented on #42
While we wait from GHC 9.2.2, as a Hackage trustee I revised `retrie-1.1.0.0` (https://hackage.haskell.org/package/retrie-1.1.0.0/revisions/), so that `text-2.0` can be used with GHC < 9.2.

[2022-03-07 00:33] Bodigrim commented on #42
@pepeiborra with GHC 9.2.2 you can just compile `retrie` against `text-2.0` without difficulties with `parsec`. I made a correspondent revision: https://hackage.haskell.org/package/retrie-1.2.0.1/revisions/

[2022-03-07 09:22] pepeiborra commented on #42
Thank you! I have sent https://github.com/facebookincubator/retrie/pull/44 to record that change in the repo

[2022-03-22 16:29] Kleidukos commented on #26
9.4 is about to be released, I think it's a good time to get things going on that front. :)

[2022-10-12 23:33] georgefst opened #48 "NamedFieldPuns support"
[code]

`retrie --unfold Main.f` correctly produces `x = D{a = True}`. But if we equivalently `f a = D{a}`, then we get `x = D{a}`, which doesn't make any sense.